
body {
	margin:auto;
	width: 50%;
}

label,h1,a {
	text-align: center;
}
.inputContainer {
    margin: auto;
    width: 100%;
    border: 3px solid red;
    padding: 0px;
	text-align: center;
}

.outputContainer {
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 15px 0px 0px 5px;
	text-align: center;
}

label, input[type=button] {
	margin:auto;
    padding: 0px 25px 0px 20px;
    background-color: white;
    font-size: 16px;
}

/*Movable textbox starts*/
.textboxInput {
	color: grey;
	font-size: 15px;
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 10px 10px 10px 10px;
	width:200px;
    border: 1px solid #999;
    height: 15px;
    transition:All 0.2s linear;
	-webkit-transition:All 0.2s linear;
	-moz-transition:All 0.2s linear;
	-o-transition:All 0.2s linear;
	text-align: right; 
}
.textboxInput:focus {
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
}

/*Movable textbox ends*/


/* Number box */
.numboxInput {
	color: grey;
	font-size: 15px;
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 10px 10px 10px 10px;
	width:200px;
    border: 1px solid #999;
    height: 15px;
    transition:All 0.2s linear;
	-webkit-transition:All 0.2s linear;
	-moz-transition:All 0.2s linear;
	-o-transition:All 0.2s linear;
	text-align: left; 
}
.numboxInput:focus {
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
/* Number box */

/*textboxOutput starts*/
.textboxOutput {
	outline: none;
	color: grey;
	font-size: 15px;
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 10px 10px 10px 10px;
	width:200px;
    height: 15px;
    border: 1px solid black;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.textboxOutput:focus{
	border: 2px dashed #ff0000;
    transform: scale(1.1, 1.05);
	-webkit-transform: scale(1.1, 1.05);
	-moz-transform: scale(1.1, 1.05);
	-o-transform: scale(1.1, 1.05);
	-ms-transform: scale(1.1, 1.05);
}
/*textbox ends*/

/* Image of the cipher centered*/
img.cipher {
	padding-top: 0px;
    width: 50%;
	text-align: center;
}

img.cipher{
    border-radius:50%;    
    -webkit-transition: -webkit-transform 6s ease-in-out;
    -ms-transition: -ms-transform 6s ease-in-out;
    transition: transform 6s ease-in-out;   
}
img.cipher:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.footer {
   position: relative;
   left: 0;
   bottom: 0px;
   width: 100%;
   text-align: center;
   /* background-color: red; 
   color: white; */
}

p span {display: none; position: relative; color: #fff; background: #000; padding: 5px;}
p:hover span {display: block; text-align: center;}